@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: content;
    align-items: center;
    height: 100vh;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;}

img.iframe {
    max-width: 250px;
    margin: auto;
}

iframe {
    width: 230px;
    height: 360px;
    margin: auto;}


div.botoes {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    

}

img.botao {
    border-radius: 50%;
    max-width: 75px;
    transition: transform 0.3s;
   
}

img.botao:hover {
    transform: scale(1.1);
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.66) 6px 5px 5px 0px;

    
}